
body {
    background-color: rgba(5,74,0,0.73);
}

#intro {
    background-image: url("https://www.hdfondos.org/file/22590/728x410/16:9/bosque-oscuro-arboles-naturaleza_1731593932.jpg");
    background-size: auto;
    color: white;
    padding: 30px;
}

a{
    color: black;
    padding: 10px;
}

h1{
    padding: 10px;
}

#toptres{
    padding: 10px;
}

#ft{
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#tortuga {
    border-radius: 10px;
    background-color: antiquewhite;
    margin: 10px;
}

#lludria {
    border-radius: 10px;
    background-color: #729D43;
    margin: 10px;
}

#ratpe {
    border-radius: 10px;
    background-color: #81726B;
    margin: 10px;
}

div {
    padding: 20px;
    margin-bottom: 20px;
}

@media (max-width: 1300px){
    #ft{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    #toptres{
        display: flex;
        justify-content: center;
    }

    div h2{
        display: flex;
        justify-content: center;
    }

    #src{
        display: flex;
        justify-content: center;
    }

    div div{
        display: flex;
        justify-content: center;

    }
}

#llista{
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "Inici Llista Contacta";
}

@media (min-width: 1300px) {
    #tots {
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: auto;
        grid-template-areas: "Tortuga Lludria Ratpenat";
        padding: 10px;
    }
}

